*{
    font-family:Gloock;
}
body {
    margin: 0;
}

#navbar {
    background-color: #1e0707;
    font-size: 25px;  
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-height: 10%;
    min-height: 40px;
}
#post-view{
    background-color: #1e193c;
    color: white;
    margin: 15px;
    border: solid 2px #1e0707;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #1e0707;
    padding:10px;
    margin-bottom: 20px;
}
#login{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-content: center;
    margin-top: 50px;
    border: solid #1e0707 2px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #1e0707;
    width:178px;
    padding:10px;
    background-color: #ff1515;
}

#register{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-content: center;
    margin-top: 50px;
    border: solid #1e0707 2px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #1e0707;
    width: 148px;
    padding:10px;
    background-color: #ff1515;
}

#new-post{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-content: center;
    margin-top: 50px;
    border: solid #1e0707 2px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #1e0707;
    width:148px;
    padding:10px;
    background-color: #ff1515;  
}
#title{
    text-decoration: none;
    text-align: center;
    color: #ff1515;
    text-shadow: 10px 10px 5px rgba(255, 21, 21, .3);
    margin-left: 10px;
    margin-right: 10px;
}
#title:hover{
    color: #b30d0d;
}
#nav-buttons{
    display:flex;
    margin-left:auto;
    margin-right: 10px;
}
#welcome{
    color: white; 
    display: flex;
    justify-content: center; 
}
#posts-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}