*{
    font-family: 'Courier New', Courier, monospace;
}
body {
    margin: 0;
}

#navbar {
    background-color: black;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-height: 10%;
    min-height: 40px;
}
#post-view{
    margin: 3px;
    border: solid 2px black
}
#login{
display: flex;
margin-left: auto;
margin-right: auto;
flex-direction: column;
align-content: center;
margin-top: 50px;
border: solid black 2px;
border-radius: 20px;
width: 50%;
padding:10px;
background-color: yellow;
}

#register{
display: flex;
margin-left: auto;
margin-right: auto;
flex-direction: column;
align-content: center;
margin-top: 50px;
border: solid black 2px;
border-radius: 20px;
width: 171px;
padding:10px;
background-color: yellow;
}

#new-post{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-content: center;
    margin-top: 50px;
    border: solid black 2px;
    border-radius: 20px;
    width: 200px;
    padding:10px;
    background-color: yellow;  
}
#title{
    text-decoration: none;
    text-align: center;
}